<!-- ------------------------------------------- HEADER PART -------------------------------------------------------->

<nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <div class="container-fluid p-2">
      <a class="navbar-brand" href="#"><img src="../../assets/logo.png" alt="" width="200" height="70" class="d-inline-block ms-5  align-text-top "></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
          <li class="nav-item">
                <p class="text-center main-title">To-Do List</p>
          </li>     
        </ul>
      </div>
    </div>
  </nav>
  
  <!-- ------------------------------------------- INPUT PART -------------------------------------------------------->
  
  <div class="container-fluid mt-5">
    <form class="row">
      <div class="col-auto m-auto d-flex justify-content-center align-items-center">
        <input type="text" class="form-control input-box ps-3" name="task" [(ngModel)]="task.taskName" placeholder="Enter Your Task">
        <button type="button" (click)="addData()" *ngIf="addToggle" class="btn btn-primary px-3 ms-2 add-button"> &plus;</button>
        <button type="button" (click)="editData()" *ngIf="!addToggle" class="btn btn-primary px-3 ms-2 add-button"> U </button>
        <button type="button" (click)="cancleData()" *ngIf="!addToggle" class="btn btn-primary px-3 ms-2 add-button"> X </button>
      </div>
    </form>
  </div>
  
  <!-- ------------------------------------------- TODO LIST PART -------------------------------------------------------->
  
  <div class="container-fluid mt-5">
    <div class="row">
      <div class="col-auto m-auto">
        <div class="d-flex flex-column bd-highlight" *ngFor="let i of taskCollect; let id = index">        
          <div class="p-2 d-flex ownTaskPart">
            <span class="numberOfTask">{{ id+1 }}</span>
            <p class="taskSummary text-center text-wrap ps-5"><br>{{ i.taskName }}</p>  
            <button type="button" (click)="fillData(i)" class="btn px-1 edit-button ms-auto"><i class="bi bi-pencil-square"></i></button>
            <button type="button" (click)="deleteData(i)" class="btn px-1 delete-button ms-3"> <i class="bi bi-trash3"></i></button>
          </div>
        
        </div>
      </div>
    </div>
  </div>
  
  
  
  